<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> Welcome to Ecommerce App - Edit Product</h1>

<form action="/update-product" method="post" th:object="${product}" modelAttribute="${product}">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
   <label for="id"><b>Id</b></label> 
    <input type="text" placeholder="Enter Id" name="id" th:field="*{id}" required>
    
    <label for="pname"><b>Product Name</b></label> 
    <input type="text" placeholder="Enter ProductName" name="pname" th:field="*{name}" required>
	<br/>
    <label for="price"><b>Enter Price</b></label>
    <input type="text" placeholder="Enter Price" name="price"  th:field="*{price}" required>
	<br/>
    <button type="submit">Update</button>
  </div>
</form>

</body>
</html>