<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right:180px;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/education">Education</a></li>
  <li><a href="/skills">Skills</a></li>
</ul>
<h1>About Me</h1>
<h3>About Me</h3>
<p>My name is Marthala Guru Dharani and I am from proddatur. Recently I completed my B.tech in the stream of computer science and engineering in chaithanya Bharatahi institute of technology. My short term goal is get a job in a reputed company and my long term goal is to be in good position with updated skills that will help the organisation for growth.</p>
<h1>Basic Information</h1>
<h3>Date Of Birth:</h3>
<p>09-09-2003</p>
<h3>Email:</h3>
<p>marthalagurudharani@gmail.com</p>
<h3>Mobile No:</h3>
<p>6281246391</p>
<h3>Address:</h3>
<p>2/383, Kessana Satram Street, Proddatur, Kadapa Dist, Andhra Padesh
</body>
</html>